/* MINI NAV */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    nav {
        @include whiteShadow;
        @include serif;

        border-top: 2px solid white;
        border-bottom: 1px solid white;
        clear: both;
        font-size: 140%;
        font-weight: 600;
        line-height: 1;

        a {
            @include lightGrad();

            color: $red;
            display: inline-block;
            margin: 2px 1px;
            padding: 0.25em 0.5em;
            position: relative;
            text-decoration: none;
            width: 100%;

            &.active {
                color: white;
            }
            &.hover, &:hover {
                @include grayGrad();
                @include thinShadow;

                color: white;
            }

            // CHEVRON
            &:after {
                content: ' › ';
                font-family: Arial;
                font-size: 200%;
                font-weight: 900;
                line-height: 0.2em;
                position: absolute;
                right: $hem;
                top: 0.666rem;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
