/* HEADER */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Page {
    & > header {
        height: 146px;
        margin-bottom: 1px;
        padding: 28px;

        .mast {
            height: 80px;
            .logo {
                float: left;
            }
            .stage {
                float: right;
            }
        }
        nav { /* baseline */
            @include navBack();

            color: gray;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 13px;
            height: 24px;
            margin-top: 13px;
            overflow: hidden;

            a {
                color: #eee;
                border-right: 1px solid #aaa;
                display: block;
                float: left;
                height: 24px;
                margin: 0;
                padding: 3px 12px;
                text-decoration: none;
            }
            a:hover {
                @include navFore();
                border-left: 1px solid white;
                border-right: 1px solid white;
                opacity: 0.7;
                margin-left: -1px;
            }
            a.active {
                @include navFore();
                background-color: $navfore2;
            }
        }
    }
    & > footer {
        clear: both;
        color: #857b72;
        border-top: 1px solid #e7e5e3;
        height: 22px;
        margin: 8px 28px;
        position: relative;
        vertical-align: baseline;
        width: 898px;

        p {
            font-size: 10px;
            line-height: 28px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
