// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MOBILE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$bzW: 600px; $dpW: 320px;
$bzH: 900px; $dpH: 548px;

$bzL: ($bzW - $dpW) / 2;
$bzT: ($bzH - $dpH) / 2;

$pt1: 99px;
$pt3: 66px;

@import "_btn";
@import "_layout";
@import "_misc";
@import "_nav";
@import "_port";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
