// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* FEAT / Banner */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Body #Banner {
    display: none;
    position: relative;
    width: 898px; height: 295px;

    img.fade {
        left: 0; top: 0;
    }
    div.reins {
        @include transition( all 0.5s ease-out 0 );
        background-size: 111% 100%;
        background-position: 50%;
    }
    .reins {
        float: left;
        left: 0;
        position: relative;
        z-index: 9;

        &.small {
            height: 90px;
            margin: -63px -10% 3px;
            width: 120%;
        }
        &.large {
            height: 150px;
            margin: -99px -20% 11px;
            width: 140%;
        }
    }
    div.blot {
        background-color: white;
        float: right;
        position: relative;
        right: 0;
        width: 55%;
        z-index: 3;

        &.small {
            @extend div.blot;
            margin-top: -70px;
            height: 40px;
        }
        &.large {
            @extend div.blot;
            margin-top: -125px;
            height: 60px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
