// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* FEAT / Blocks */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Feature table {
    td {
        vertical-align: top;
        &.blocks > p, &.blocks > ul {
            font-size: 95%;
            line-height: 130%;
        }
        &.chevron {
            background-color: $light2;
            padding: 5px 9px;
        }
        &.blocks {
            background-color: $light2;
            padding: 8px;
        }
        &.blocks p {
            max-width: 95%;
        }
    }
    .blocks {
        background-color: #fff;

        h3 {
            margin: -8px -8px 12px;
        }
        a.learn {
            @include font-plain();

            float: right;
            font-size: 9px;
            margin: 5px 9px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
