// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$bzW: 600px; $dpW: 320px;
$bzH: 900px; $dpH: 548px;

$bzL: ($bzW - $dpW) / 2;
$bzT: ($bzH - $dpH) / 2;

@import "_base";
@import "_dev";
@import "_header";
@import "_layout";
@import "_popup";
@import "_respond";
@import "_misc";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
