// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import "_base";
@import "_basic";
@import "_layout";
@import "_msie";
@import "_respond";
@import "_text";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
html.dev body > div {
    outline: limegreen;
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 1px;
}
