// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC / Basic */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.hide {
    display: none;
}
.button {
    cursor: pointer;
}
.loading {
    display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
