// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC / Respond */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html.desktop {
    @media (min-width: 1200px) {
        zoom: 1.2;
    }
    @media (max-width: 1199px) {
        zoom: 1.1;
    }
    @media (max-width: 1000px) {
        zoom: 1.0;
    }
    @media (max-width: 900px) {
        zoom: 0.9;
    }
    @media (max-width: 800px) {
        zoom: 0.8;
    }
    @media (max-width: 700px) {
        zoom: 0.7;
    }
    @media (max-width: 600px) {
        zoom: 0.6;
    }
}
html {
    .cache {
        display: none;
    }
    .show {
        display: initial !important;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
