// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MINI / Btn */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    button {
        color: #fff;
        vertical-align: baseline;

        &.hover, &:hover {
            opacity: 0.9;
        }
        span {
            font-weight: normal;
        }
    }
    .base {
        @include grayGrad();

        border-radius: 0.275rem;
        font-size: $MD;
        padding: 2px 4px;
        text-decoration: none;

        a {
            color: white;
        }
    }
    .blue {
        @extend .base;
        @include blueGrad();

        border-color: $blue1;
    }
    .home {
        @extend .button;
        width: 55px;
    }
    .share {
        @extend .button;
        float: right;
        width: 55px;
    }
    header #Share {
        height: 80px;
        margin-top: -80px;
        position: relative;
        width: 100%;

        > span {
            background-color: white;
            display: table-cell;
            text-align: center;
            vertical-align: bottom;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
