// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MINI / Port */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    > article {
        overflow: auto;
    }

    section.port {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        overflow: hidden;
        position: absolute;
        z-index: -1;

        article {
            padding: $minim;
            padding-bottom: 50px;
            overflow-x: hidden;
            overflow-y: scroll;

            &:first-child {
                overflow-y: hidden;
            }
        }
        a.learn {
            @include font-thick();

            float: right;
            font-size: 12px;
            margin: 5px 9px;
        }
        .external {
            margin-left: 2px;
        }
        img {
            margin-left: 0;
            max-width: 100%;
        }
        h2 {
            font-weight: 600;
            margin-top: 12px;
        }
        h3 img {
            float: right;
        }
        h3.chev {
            @include lightGrad();
        }
        .shrink {
            font-size: 90%;
            line-height: 110%;
            padding-left: 15px;
            text-indent: -15px;
        }
        .elim {
            display: none;
        }
        #Banner {
            img {
                margin-left: -12px;
                max-width: 104%;
            }
            height: 99px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
